body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.deletBtn:hover{
   cursor:pointer
}

.emptyCard{
  
  width: 50%;
  height: 50%;
  
}

.td{
  max-width: 100px;
  
}

.cartForm{
  width: 100%;
  margin: auto;
  display:flex;
  flex-direction:column;
  align-items: center;

}

/*Boton finalizar compra*/
.btnFinalizar {
 --glow-color: rgb(217, 176, 255);
 --glow-spread-color: rgba(191, 123, 255, 0.781);
 --enhanced-glow-color: rgb(231, 206, 255);
 --btn-color: rgb(100, 61, 136);
 outline: none;
 border: .25em solid var(--glow-color);
 padding: 1em 3em;
 color: var(--glow-color);
 font-size: 15px;
 font-weight: bold;
 background-color: var(--btn-color);
 border-radius: 1em;
 outline: none;
 box-shadow: 0 0 1em .25em var(--glow-color),
        0 0 4em 1em var(--glow-spread-color),
        inset 0 0 .75em .25em var(--glow-color);
 text-shadow: 0 0 .5em var(--glow-color);
 position: relative;
 transition: all 0.3s;
}

.btnFinalizar::after {
 pointer-events: none;
 content: "";
 position: absolute;
 top: 120%;
 left: 0;
 height: 100%;
 width: 100%;
 background-color: var(--glow-spread-color);
 filter: blur(2em);
 opacity: .7;
 transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
}

.btnFinalizar:hover {
 color: var(--btn-color);
 background-color: var(--glow-color);
 box-shadow: 0 0 1em .25em var(--glow-color),
        0 0 4em 2em var(--glow-spread-color),
        inset 0 0 .75em .25em var(--glow-color);
}

.btnFinalizar:active {
 box-shadow: 0 0 0.6em .25em var(--glow-color),
        0 0 2.5em 2em var(--glow-spread-color),
        inset 0 0 .5em .25em var(--glow-color);
}

/*componente spinner se usa en getItems y getItem*/
.spinner{
  width:30%;  
  position: relative;
  margin: 15% auto;
  text-align: center;
  font-size: 2rem;  
}

.spinner::before{
        
    border: solid 3px #eee;
    border-bottom-color: #EF6565;
    border-radius: 50%;
    content: "";
    height: 10rem;
    width: 10rem;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    animation: 2s linear infinite spinner;
}

@keyframes spinner {
    0% {
        transform: translate3d(-50%, -50%, 0) rotate(0deg);
    }
    100% {
         transform: translate3d(-50%, -50%, 0) rotate(360deg);
    }
}



footer{
    width: 90%;    
    margin-top: 5vh;
    height: auto;
   
    

}
footer > p{
   margin: 10px;
   color:white;
   text-align:center;
   font-size: 1.5rem;
   
   
}


@media  (max-width: 400px){
   footer{
        margin-top: 20vh;
   } 
    footer > p{
   font-size: 1rem;
   
}
}

@media (max-width: 641px){

.spinner::before{
  left: 50%;
    height: 5rem;
    width: 5rem;
   
}


}